#listView {
    -fx-background-image: url(/img/back.png);
}

#controlPane {
    -fx-background-color: white;
}

#textField {
    -fx-min-height: 48px;
    -fx-background-color: -fx-control-inner-background;
    -fx-background-insets: 0;
    -fx-padding: 1 3 1 3;
    -fx-background-image: url(/img/fonField.png);
    -fx-text-fill: white;
}

.list-cell {
    -fx-background-color: none;
}

.label {
    -fx-background-color: rgba(255, 255, 255, 0.3);
    -fx-padding: 12px;
    -fx-text-fill: white;
    -fx-border-color: white, white;
}

#send {
 -fx-background-image: url(/img/send.png);
}

#send:hover {
    -fx-background-image: url(/img/send2.png);
}
